<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>brand页面</title>
    <link rel="stylesheet" href="./css/element-ui.css">
    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/element.js"></script>
</head>
<body>
<div id="app">
    <!--    搜索表单-->
    <el-form :inline="true" :model="brand" class="demo-form-inline">
        <el-form-item label="当前状态">
            <el-select v-model="brand.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="企业名称">
            <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit()">查询</el-button>
        </el-form-item>
    </el-form>

    <el-row>
        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible=true">新增</el-button>
    </el-row>

    <el-dialog title="编辑品牌" :visible.sync="dialogVisible" width="30%">
        <el-form ref="form" :model="brand" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="brand.companyName"></el-input>
            </el-form-item>
            <el-form-item label="排序">
                <el-input v-model="brand.ordered"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand.description"></el-input>
            </el-form-item>
            <el-form-item label="状态">
                <el-switch v-model="brand.status" active-value="1" inactive-value="0"></el-switch>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addBrand">提交</el-button>
                <el-button @click="dialogVisible=false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--    表格-->
    <template>
        <el-table :data="tableData" style="width:100%" :row-class-name="tableRowClassName"
                  @selection-change="handleSelectionChange"
        >
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column type="index" width="50">
            </el-table-column>
            <el-table-column prop="brandName" label="品牌名称" align="center">
            </el-table-column>
            <el-table-column prop="companyName" label="企业名称" align="center">
            </el-table-column>
            <el-table-column prop="ordered" label="排序" align="center">
            </el-table-column>
            <el-table-column prop="statusStr" label="当前状态" align="center">
            </el-table-column>
            <el-table-column prop="center" label="操作">
                <el-row>
                    <el-button type="primary">修改</el-button>
                    <el-button type="danger">删除</el-button>
                </el-row>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-size="10"
                layout="total,sizes,prev,pager,next,jumper"
                :total="totalCount"
        ></el-pagination>
    </template>
</div>

<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectAll();
        },
        methods: {
            selectAll() {
                console.log("hello")
                axios({
                    method: "post",
                    url: "http://localhost/brand/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.brand
                }).then(resp => {
                    this.tableData = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                })
            },
            tableRowClassName({rowIndex}) {
                if (rowIndex === 1) {
                    return "warning-row";
                } else if (rowIndex === 3) {
                    return "success-row";
                }
                return "";
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(this.multipleSelection)

            },
            onSubmit() {
                this.selectAll();
            },
            addBrand() {
                const _this = this;
                axios({
                    method: "post",
                    url: "http://localhost/brand/add",
                    data: _this.brand
                }).then(function (resp) {
                    if (resp.data === "success") {
                        _this.dialogVisible = false;
                        _this.brand.brandName = "";
                        _this.brand.companyName="";
                        _this.brand.status ="";
                        _this.selectAll();
                        _this.$message({
                            message: '恭喜你，添加成功',
                            type: "success"
                        })

                    }
                })
            },
            handleSizeChange(val) {
                console.log(`每页${val}条`);
                this.pageSize = val;
                this.selectAll()
            },
            handleCurrentChange(val) {
                console.log(`当前页:${val}`);
                this.currentPage = val;
                this.selectAll();
            },
            //    批量删除
            deleteByIds() {
                console.log("点击删除方法")
                console.log(this.multipleSelection);
                this.$confirm('此操作讲删除该数据，是否继续?', '提示', {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: 'warning'
                }).then(() => {
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.id;
                    }
                    const _this = this;
                    axios({
                        method: "post",
                        url: "http://localhost/brand/deleteByIds",
                        data: _this.selectedIds
                    }).then(function (resp) {
                        if (resp.data === "success") {
                            _this.selectAll();
                            _this.message({
                                message: "恭喜你，删除成功",
                                type: "success"
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: "info",
                        message: "已取消删除"
                    })
                })
            }

        },
        data() {
            return {
                pageSize: 10,
                totalCount: 100,
                currentPage: 1,
                dialogVisible: false,
                brand: {
                    status: "",
                    brandName: "",
                    companyName: "",
                    id: "",
                    ordered: "",
                    description: ""
                },
                selectedIds: [],
                multipleSelection: [],
                tableData: []
            }
        }
    })
</script>
</body>
</html>